.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100vh;
  position: absolute;
  bottom: 1px;
}

.container {
  width: 600px;
  height: 450px;
  box-sizing: border-box;
  margin: var(--spacing-11);

  border-radius: var(--border-radius-discrete);
  box-shadow: var(--box-shadow-base);
}

.formContainer {
  margin: var(--spacing-11);
}

.formTitle {
  margin: var(--spacing-7) 0;
}

.containerButton {
  margin-top: var(--spacing-6);
  display: flex;
  justify-content: flex-start;
}

.buttonSend,
.buttonCancel {
  margin-top: var(--spacing-5);
  height: 45px;
  width: 130px;
  border-radius: var(--border-radius-discrete);
  color: var(--color-text-accent);
  font-size: var(--font-size-base);
  font-weight: 600;
  border: none;
  cursor: pointer;
}

.buttonSend {
  background: var(--color-primary-dk);
}

.buttonSend:hover {
  background: var(--color-primary);
}

.buttonCancel {
  margin-left: var(--spacing-5);
  background-color: var(--color-danger);
}

.buttonCancel:hover {
  background-color: var(--color-danger-lt);
}

.input {
  display: inline-block;
  padding: var(--spacing-3);
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  margin-top: var(--spacing-5);

  border: 1px solid #dddbda;
  border-radius: var(--border-radius-discrete);
  background-color: #fff;
  color: rgb(8, 7, 7);
  transition: border 0.1s linear, background-color 0.1s linear;
  outline: none;
}

.input:focus {
  border-color: var(--color-primary-dk);
  box-shadow: var(--box-shadow-input);
}

.styleOne {
  border: 0;
  height: 0;
  margin-bottom: var(--spacing-3);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
