.user_profile {
  margin: var(--spacing-4) auto;
  padding: var(--spacing-8);
  width: calc(100% - var(--spacing-8));
  max-width: 1200px;
  border-radius: var(--spacing-1);
}

.title {
  margin-bottom: var(--spacing-4);
  text-align: center;
}

.user_data {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: var(--spacing-2);
}

.field {
  display: flex;
  flex-flow: wrap;
  gap: var(--spacing-2);
  align-items: center;
  justify-content: center;
}

.field_name {
  font-weight: 600;
}

.field_value {
  font-weight: 400;
}

.options {
  display: flex;
  flex-flow: wrap;
  gap: var(--spacing-4);
  justify-content: center;
}

.button {
  margin-top: var(--spacing-8);
  background-color: var(--color-primary);
  border: 0;
  outline: 0;
  border-radius: var(--border-radius-discrete);
  cursor: pointer;
  padding: var(--spacing-3);
  font-size: large;
  width: fit-content;
  min-width: 150px;
  transition: transform 0.1s ease-in-out;
}

.button:hover {
  transform: scale(1.05);
}

.danger {
  background-color: var(--color-danger);
  color: var(--color-text-accent);
}
