.edit_home {
  margin: var(--spacing-4) auto;
  padding: var(--spacing-8);
  max-width: 1200px;
  border-radius: var(--border-radius-discrete);
}

.title {
  margin-top: var(--spacing-4);
  margin-bottom: var(--spacing-11);
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-4);
}

.welcome_text {
  width: 100%;
  padding: var(--spacing-3);
  font-family: inherit;
  box-sizing: border-box;
  font-size: large;
}

.submit {
  margin-top: var(--spacing-4);
  background-color: var(--color-primary);
  border: 0;
  outline: 0;
  border-radius: var(--border-radius-discrete);
  cursor: pointer;
  padding: var(--spacing-3);
  font-size: var(--font-size-h6);
  width: fit-content;
  min-width: 150px;
  transition: transform 0.1s ease-in-out;
}

.submit[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

.submit:hover:not([disabled]) {
  transform: scale(1.05);
}

.error {
  color: var(--color-danger);
  font-weight: 700;
}
