.slide_list {
  display: flex;
  flex-flow: wrap;
  padding: 0;
  gap: 1rem;
  border: none;
  width: 100%;
}

.slide {
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  background-color: #9ac9fb77;
  padding: 1rem;
}

.slide_text {
  width: 100%;
  box-sizing: border-box;
  font-size: large;
  border: 1px solid #ccc;
  padding: 0.25rem;
}

@media (min-width: 576px) {
  .slide_list {
    gap: 1rem;
  }
  .slide {
    width: calc(50% - 0.5rem);
  }
}

@media (min-width: 992px) {
  .slide_list {
    gap: 0.5rem;
  }
  .slide {
    width: calc(33% - 0.25rem);
  }
}
