.columText {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin: var(--spacing-11);
}

.content {
  background-color: #FAFA88;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
  bottom: 0;
}

.container {
  background-color: #f0f8ff;
  box-sizing: border-box;
  margin: var(--spacing-11);
  max-width: 500px;

  border-radius: var(--border-radius-discrete);
  box-shadow: var(--box-shadow-base);
}

.formContainer {
  margin: var(--spacing-4);
}

.formTitle {
  font-size: var(--font-size-h3);
  margin: var(--spacing-7) 0;
  text-align: center;
}

.containerButton {
  align-items: center;
  display: flex;
  justify-content: center;
}

.buttonSend {
  margin-top: var(--spacing-5);
  height: 45px;
  width: 130px;
  border-radius: var(--border-radius-discrete);

  font-size: var(--font-size-base);
  border: none;
  color: var(--color-text-accent);
  background: var(--color-primary-dk);

  cursor: pointer;
}

.buttonSend:hover {
  background: var(--color-primary);
}

.input {
  display: inline-block;
  padding: var(--spacing-3);
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  margin-top: var(--spacing-5);

  border: 1px solid #dddbda;
  border-radius: var(--border-radius-discrete);
  background-color: #fff;
  color: rgb(8, 7, 7);
  transition: border 0.1s linear, background-color 0.1s linear;
  outline: none;
}

.input:focus {
  border-color: var(--color-primary-dk);
  box-shadow: var(--box-shadow-input);
}

.inputTextarea {
  font-family: var(--font-family);
  display: inline-block;
  padding: var(--spacing-3);
  box-sizing: border-box;
  width: 100%;
  height: 100px;
  margin-top: 20px;

  border: 1px solid #dddbda;
  border-radius: var(--border-radius-discrete);
  background-color: #fff;
  color: rgb(8, 7, 7);
  transition: border 0.1s linear, background-color 0.1s linear;
  outline: none;
  resize: none;
}

.inputTextarea:focus {
  border-color: var(--color-primary-dk);
  box-shadow: var(--box-shadow-input);
}

.styleOne {
  border: 0;
  height: 0;
  margin-bottom: var(--spacing-3);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
