table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  text-align: left;
  padding: 8px;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.tablecontent {
  width: 80%;
  padding-top: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: #9ac9fb;
  border-radius: 15px;
}

.tabledata {
  border-top: 1px solid #7394b8;
}

.header {
  width: 70%;
}

.button {
  height: 5vh;
  width: 8vw;
  border-radius: 5px;
  cursor: pointer;
}

.deletebutton {
  background-color: #db5752;
  border: 1px solid #db5752;
}

.editbutton {
  background-color: #fafa88;
  border: 1px solid #fafa88;
}

.actions {
  text-align: center;
}

.actionbuttons {
  display: flex;
  justify-content: space-evenly;
}

