table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  text-align: left;
  padding: 8px;
}

.container {
  width: 100%;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

.activities_header {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.activities_title {
  font-size: xx-large;
}

.activities_create {
  background-color: var(--color-primary);
  padding: var(--spacing-4);
  text-decoration: none;
  color: inherit;
  border-radius: var(--border-radius-discrete);
}

.tablecontent {
  width: 80%;
  padding-top: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: #9ac9fb;
  border-radius: 15px;
}

.tabledata {
  border-top: 1px solid #7394b8;
}

.header {
  width: 70%;
}

.button {
  height: 5vh;
  width: 8vw;
  border-radius: 5px;
  cursor: pointer;
}

.deletebutton {
  background-color: #db5752;
  border: 1px solid #db5752;
}

.editbutton {
  background-color: #fafa88;
  border: 1px solid #fafa88;
}

.actions {
  text-align: center;
}

.actionbuttons {
  display: flex;
  justify-content: space-evenly;
}
