.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: var(--header-height);
}

.navlinks {
  align-items: center;
  display: flex;
  width: 70%;
}

.navlink {
  text-decoration: none;
  color: var(--color-primary-dk);
  margin-left: var(--spacing-8);
}

.navlink:hover {
  color: var(--color-primary);
  text-decoration: underline;
}

.logo {
  width: 100px;
  height: 100px;
  margin-left: var(--spacing-8);
}

.buttonsContent {
  display: flex;
  align-items: center;
}

.buttons {
  display: flex;
  align-items: center;
}

.button {
  padding: var(--spacing-3) var(--spacing-4);
  margin-right: var(--spacing-6);
  border-radius: var(--border-radius-discrete);
  cursor: pointer;
}

.loginbtn {
  color: var(--color-primary-dk);
  border: 1px solid currentColor;
  background-color: white;
}

.loginbtn:hover {
  color: var(--color-primary);
  border: 1px solid currentColor;
}

.registerbtn {
  color: var(--color-text-accent);
  background-color: var(--color-primary-dk);
  border: 1px solid currentColor;
}

.registerbtn:hover {
  background-color: var(--color-primary);
  border: 1px solid currentColor;
}

.active {
  color: var(--color-primary);
  text-decoration: underline;
}

.containerButtonMenu {
  display: flex;
  align-items: center;
  display: none;
}

.expandToggle {
  display: none;
}

@media screen and (max-width: 1110px) {
  .navbar {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
  }

  .navlinks {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #dc3545;
    width: 100%;
  }

  .navlink {
    margin: 0;
    padding: 5px 0 5px 15px;

    color: white;
    font-size: 1.3rem;
    background-color: #dc3545;
    width: 100%;
    text-align: start;
  }


  .containerHeaderResponsive {
    display: flex;
    width: 100%;
  }

  .containerButtonMenu {
    display: flex;
    margin-left: auto;
  }

  .menuBtn {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 1.3rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #db0909;
    border: none;
    width: 100px;

    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    -khtml-user-select: none;
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
  }

  .menuBtn:hover {
    background-color: #fafafa4e;
  }

  .buttonsContent {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    background-color: #dc3545;
    width: 100%;

    transition: 1s ease-in-out;

  }

  .buttons {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    box-sizing: border-box;
    background-color: #dc3545;
    width: 100%;
    padding: 5px 0 5px 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: 1s ease-in-out;
  }

  .buttonsNone {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    box-sizing: border-box;
    background-color: #dc3545;

    width: 100%;
    padding: 5px 0 5px 15px;
    margin-right: auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    display: none;
  }


  .loginbtn {
    margin: 0;
    height: 0;
    padding: 0;
    width: 100%;
    border: none;
    background: none;
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
  }

  .loginbtn:hover {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    color: white;
    text-decoration: underline;
  }

  .registerbtn {
    margin: 0;
    height: 0;
    padding: 10px 0;
    width: 120vh;

    background: none;
    border: none;
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
    text-align: start;
  }

  .registerbtn:hover {
    margin: 0;
    border: none;
    background: none;
    color: white;

    text-decoration: underline;
  }

  .expandToggle {
    display: none;
  }

  .expandToggle:checked~* .expandable {
    display: flex;
    flex-direction: column;
  }

  .expandable {
    display: none;
  }
}