.container {
    margin: 20px 100px 100px 100px;  
    border: 1px solid;
}

.table {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.thead {}

.tr {}

.th {}

.tbody {}

.td {}

.btnEdit {}

.btnDelete {}