.container {
    position: relative;
    width: 1680px;
    height: 501px;
    background-color: #ffffff;
}

/* Rectangle */
.rectangle_top {
    position: absolute;
    width: 1680px;
    height: 3px;
    left: 0px;
    top: 37px;
    background: rgba(0, 0, 0, 0.5);
}

.footer_navigation p a {
    text-decoration: none;
    color: inherit;
}

/* Contacto */
.contact {
    position: absolute;
    width: 173px;
    height: 24px;
    left: 1427px;
    top: 120px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
    text-align: right;
    letter-spacing: -0.015em;
    color: #000000;
}

/* Nosotros */
.us {
    position: absolute;
    width: 173px;
    height: 24px;
    left: 1236px;
    top: 120px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
    text-align: right;
    letter-spacing: -0.015em;
    color: #000000;
}

/* Testimonios */
.testimonial {
    position: absolute;
    width: 173px;
    height: 24px;
    left: 1043px;
    top: 120px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
    text-align: right;
    letter-spacing: -0.015em;
    color: #000000;
}

/* Novedades */
.news {
    position: absolute;
    width: 173px;
    height: 24px;
    left: 464px;
    top: 120px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: -0.015em;
    color: #000000;
}

/* Actividades */
.activities {
    position: absolute;
    width: 173px;
    height: 24px;
    left: 273px;
    top: 120px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: -0.015em;
    color: #000000;
}

/* Noticias */
.information {
    position: absolute;
    width: 173px;
    height: 24px;
    left: 80px;
    top: 120px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: -0.015em;
    color: #000000;
}

/* Sample Logo */
.sample_logo {
    position: absolute;
    width: 122.07px;
    height: 32px;
    left: 728px;
    top: 120px;
}

/* LOGO ONG */
.logo_ong {
    position: absolute;
    right: -80%;
    top: -250%;
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 400;
    font-size: 28.4444px;
    line-height: 32px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;
    color: #000000;
}

/* Rectangle Bottom */
.rectangle_bottom {
    position: absolute;
    width: 1520px;
    height: 1px;
    left: 80px;
    top: 192px;
    background: rgba(0, 0, 0, 0.5);
}

/* 2022 by Alkemy. All Rights Reserved. */
.info_alkemy {
    position: absolute;
    width: 301px;
    height: 24px;
    left: 690px;
    top: 357px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.015em;
    color: rgba(0, 0, 0, 0.8);
}

/* Iconos y tamaños */
.icons {
    position: absolute;
    top: 279px;
    left: 670px;
}
.icons a {
    text-decoration: none;
}
.icons_size {
    height: 44px;
    width: 44px;
    margin-left: 21px;
}