.news_card {
  width: 100%;
  box-shadow: var(--box-shadow-base);
  display: flex;
  flex-flow: column;
  text-decoration: none;
  color: inherit;
  overflow: hidden;
  transition: transform 0.1s ease-in-out;
}

.news_card_thumbnail {
  width: 100%;
  min-height: 200px;
  max-height: 200px;
  object-fit: cover;
}

.news_card:hover {
  transform: scale(1.02);
}

.news_card_title {
  font-size: var(--font-size-h3);
  padding: var(--spacing-4);
}

.news_card_date {
  padding: var(--spacing-4);
  padding-top: 0;
  margin-top: auto;
}

@media (min-width: 576px) {
  .news_card {
    width: calc(50% - var(--spacing-4));
  }
}

@media (min-width: 992px) {
  .news_card {
    width: calc(100% / 3 - var(--spacing-4));
  }
}
