.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: var(--color-primary-lt);
  min-height: calc(100vh - var(--header-height));
  justify-items: center;
  box-sizing: border-box;
  padding: var(--spacing-13);
}

.cardContainer {
  background-color: #fff;
  border-radius: var(--border-radius-round);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 200px;
  width: 200px;
}
.cardTitle {
  color: var(--color-primary);
}

.cardImg {
  width: 60px;
  height: 60px;
}
.cardButtonLink {
  margin-top: var(--spacing-4);
  background-color: #088c8a;
  color: var(--color-text-accent);
  border: none;
  padding: var(--spacing-2);
  border-radius: var(--border-radius-discrete);
  text-decoration: none;
}
.cardButton:hover {
  cursor: pointer;
}
